<head>
  <title>About</title>
  {% include 'navbar.html' %}
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='standard.css')
 }}"
  />
</head>
<body class="wholepage">
  <br />
  <p>This is the about page</p>
  <button onclick="">Click here</button>
  <img id="image" />

  <div class="d">
    <p>Enter your message</p>
    <input type="text" id="user-input" />
    <button>Submit</button>
  </div>

  <div id="chat-container">
    <div id="chat">
      <p>User: hello</p>
    </div>
  </div>
</body>
