<head>
  {% include 'navbar.html' %}
  <link
  rel="stylesheet"
  href="{{ url_for('static', filename='standard.css')
 }}"/>
</head>
<body class="wholepage">
  <br>
  <h1>Products Page</h1>
  <form method="post" action="{{url_for('products', username=username)}}">
    <label for="productid">Enter product id:</label>
    <input type="text" name="productid"></input>
    <button type="submit">Delete Product</button>
  </form>

  <h1>{{username}}'s Products for Sale</h1>
  <ul class="producttable">
    {% for product in products %}
    <li>
      {{product.id}} - {{product.name}} - ${{product.price}} -
      Description:{{product.description}}
    </li>
    {% endfor %}
  </ul>
</body>
